* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #2b2d31;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scrollbar-color: hsl(0, 0%, 48%) transparent; /* Scrollbar thumb and track color */
}

nav {
    position: fixed;
    display: flex;
    background-color: #1e1f22;
    height: 40px;
    width: 100%;
    align-items: center;
    z-index: 1;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
}

.nav-link li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2vh;
}

.nav-link button, .nav-link label {
    display: flex;
    color: #ffffff;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 100%;
    align-items: center;
}

.nav-link input {
    width: fit-content;
}

.nav-link li:hover, .nav-link label:hover {
    cursor: pointer;
    background-color: #16171a;
}

#main {
    top: 40px;
    position: relative;
    padding: 20px;
    height: calc(100vh - 60px);
}

#map_area {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

#map_area embed {
    pointer-events: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #313338;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #474747;
    gap: 10px;
    width: fit-content;
}

.container h5 {
    color: #9499aa;
}

.container input {
    background-color: hsl(225, 7%, 24%);
    border: none;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 100px;
    padding: 7px;
    height: 30px;
}

.side_by_side_input {
    display: flex;
    gap: 10px;
}

button {
    border: 2px solid #474a52;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 4px;
    box-sizing: border-box;
}

.point_select_button {
    height: 30px;
    width: 30px;
}

button:active {
    filter: brightness(130%);
}

button:hover  {
    border-color: #4c4f59;
    background-color: hsl(226, 8%, 22%);
}

button:hover img {
    filter: brightness(0) saturate(100%) invert(19%) sepia(4%) saturate(1245%) hue-rotate(187deg) brightness(150%) contrast(89%);
}

.point_select_button img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0) saturate(100%) invert(29%) sepia(9%) saturate(508%) hue-rotate(186deg) brightness(92%) contrast(91%);
    object-fit: contain; /* Ensures the SVG scales within */
}

.map_pin {
    scale: 0.8;
    visibility: hidden;
    position: absolute;
    display: flex;
    width: fit-content;
    height: fit-content;
}